body {
    background-color: #000000;
    color: #D0D0D0;
    font-size: medium;
    font-family: default;
}

h1 {
    color: #D0D0D0;
}

h2 {
    color: #D0D0D0;
}

h3 {
    color: #D0D0D0;
}

h4 {
    color: #BC2828;
}

a:link {
    color: #D0D0D0;
}

a:hover {
    color: #ffffff;
}

a:visited {
    color: #D46A6A;
    ;
}

.aboutusleft {
    float: left;
    padding-right: 10px;
}

.aboutusright {
    float: right;
    padding-left: 10px;
}

hr {
    margin: 2em 0 1em 0;
    border: none;
    border-bottom: 1px solid silver;
}

#footer {
    padding: 1em;
    text-align: center;
    font-size: 80%;
}

#container {
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 0, 0);
    color: white;
}

header {
    width: 900px;
    height: 200px;
    background-color: #FFFFFF;
}

.navigation {
    display: flex;
    justify-content: end;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    margin: 4px;
    padding: 3px;
    border: 1px solid red;
    background-color: white;
    text-decoration: none;
    color: #D46A6A;
}

.navigation li:hover {
    border: 1px solid white;
    background-color: red;
    color: white;
}

.survey {
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-self: center;
}

.survey2 {
    list-style-type: none;
}

.surveyhead {
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.pclass {
    padding: 5px;
}

.bannerindex {
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 500px;
}

.imgmapindex {
    margin-left: 500px;
}

.listlink {
    list-style-type: none;
}

section {
    width: 900px;
    background-image: url('Images/backimage.png');
    background-repeat: repeat-y;
}


article {
    width: 800px;
    text-align: left;
    margin: 5px;
}

#thumbs,
#image {
    width: 680px;
    border: solid 1px #000;
    text-align: center;
    margin: 0 auto 0 auto;
    color: #000;
    background: #eee;
    padding: 5px;
}

#thumbs {
    margin-top: 10px;
}


#thumbs img {
    border: solid 1px #000;
    margin: 5px;
}

#image {
    height: 500px;
}

.instructions {
    font-style: italic;
}

body {
    background-color: #000000;
    color: #D0D0D0;
    font-size: medium;
    font-family: default;
}

h1 {
    color: #D0D0D0;
}

h2 {
    color: #D0D0D0;
}

h3 {
    color: #D0D0D0;
}

h4 {
    color: #BC2828;
}

a:link {
    color: #D46A6A;
}

a:hover {
    color: #BC2828;
}

a:visited {
    color: #D0D0D0;
}

.aboutusleft {
    float: left;
    padding-right: 10px;
}

.aboutusright {
    float: right;
    padding-left: 10px;
}